@import url("font.css");
@import url("blocks/block.css");
@import url("blocks/card.css");
@import url("blocks/content.css");
@import url("blocks/footer.css");
@import url("blocks/header.css");
@import url("blocks/page.css");

.container {
    max-width: 1408px;
    margin: 0 auto;
    width: 100%;
}

